<footer>
    <%if(locals.user){%>
    <p class="my-info"><%=locals.user%></p>
    <%}%>
    <%if(locals.weather){%>
        <div class="weather-flex">
            <img src="<%=locals.weather.image%>" alt="weather">
            <p><%=locals.weather.text%></p>
        </div>
    <%}%>
    <a class="my-info" href="https://github.com/mmpp1997/">@Mario Pedisic</a>
    <a class="log-out" href="/logout">Log Out</a>
    
    
</footer>